<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAHO</title>
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <link rel="stylesheet"  th:href="@{/css/style.css}" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    />

    <style>
        li {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

           


                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div style="position: relative; width: 100%; height: 0; padding-top: 25.0000%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFGjg1rsNk&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
                               </div>
                         
                    
                        </div>
                    </div>
<br>
                <div class="col-12 text-center mb-3">
                    <h3>Bienvenido al Hotel</h3>
                </div>
                <hr>
                    <div class="row" style="margin-left: 10px;">
                        <div class="col-sm-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://www.hotelogix.com/images/property-management-system-mobile-pms.png" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">GESTIÓN</h5>
                                  <p class="card-text">Gestionar significa conseguir que las personas cumplan sus funciones y contribuyan a la consecución de los objetivos marcados. <br>
                                </p><p> Centralización de la toma de decisiones por el director de hotel, con escaso margen de delegación con respecto a los jefes de departamento. El liderazgo que desarrolle el director de hotel es muy importante.</p>
                                 
                                </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://myhotel.cl/wp-content/uploads/2021/07/s3-9-768x899.png" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">ORGANIZACIÓN</h5>
                                  <p class="card-text">Organizar consiste en definir las tareas a realizar por las distintas personas del hotel, coordinar las mismas par desarrollar de manera efectiva los planes propuestos. En la organización identificamos las diferentes funciones a desempeñar, determinado la estructura, líneas de autoridad y responsabilidad. </p>
                                  
                                </div>
                              </div>                        
                            </div>
                        <div class="col-md-4">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://www.hotelogix.com/images/property-management-system-mobile-pms.png" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">CONTROL</h5>
                                  <p class="card-text">Controlar es comparar la realidad con los objetivos a fin de conocer desviaciones y tomar las decisiones adecuadas para la corrección de las mismas.</p><br>
                                  <p>Una vez determinados unos objetivos en la planificación, éstos deben servir de referencia para la definición de patrones que sirvan para comprobar la consecución de los mismos.</p>
                   
                                </div>
                              </div>                        
                            </div>
                    </div>
        
            </div>
        </div>


        <footer class="container">

        </footer>
<!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--onicons-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<script th:if="${msg_success != null}">
    new Toast({
        message: "[[${msg_success}]]",
        type: "success",
    });
</script>
<script th:if="${msg_error != null}">
    new Toast({
        message: "[[${msg_error}]]",
        type: "danger",
    });
</script>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #5e6681;">
        Copyright: © 2022 All rights Reserved |
        <a class="title-card-login " href="https://mdbootstrap.com/">MAHO.com</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>